body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
    background-color: FEFCFE;
}
.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 27px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: block;
    background-image: url(..//images/svg/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
}
.header-logo:hover {
    transform: scale(1.3);
}
.header-nav {
    display: flex;
    list-style-type: none;
    gap: 54px;
    padding-left: 92px;
}
.header-nav a {
    color: #2B3541;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}
.header-nav a:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #2B3541;;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    opacity: .8;
}
.icon-left:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: 0.3s;
}
.icon-right:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: 0.3s;
}
.icon-left {
    display: block;
    background-image: url(..//images/svg/instagram.svg);
}
.icon-right{
    display: block;
    background-image: url(..//images/svg/facebook.svg);
}
.icon-left,
.icon-right {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    margin-bottom: 88px;
}
.banner-box {
    display: flex;
    position: relative;
    padding-top: 184px;
}
h1 {
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 44px;
    max-width: 676px;
}
.banner-subtitle {
    font-size: 40px;
    margin-bottom: 24px
}
.banner-info {
    margin-left: 92px;
}
.banner-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 57px;
    max-width: 297px;
}
.banner-link {
    color: #2B3541;
    background-color: #FBF138;
    letter-spacing: 0.03em;
    padding: 22px 30px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.banner-link:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: .3s;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}
.banner-arrow-down {
    display: block;
    width: 52px;
    height: 55px;
    margin-top: 200px;
    background-image: url(..//images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
}
.banner-arrow-down:hover {
    transform: scale(1.3);
}
.banner-bg {
    display: flex;
    max-width: 790px;
    width: 100%;
    max-height: 850px;
    height: 100%;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: -75px;
}
.banner-bg-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: .2;
    flex-basis: 70%;
    height: 100%
}
.banner-bg-gradient-right {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: .2;
    flex-basis: 30%;
    height: 100%
}
.banner-bg-img {
    position: absolute;
    top: 30px;
    width: 996px;
    height: 805px;
    right: -110px;
}
#events {
    padding-top: 40px;
    margin-bottom: 88px;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 42px;
    line-height: 1.25;
}
.date {
    font-size: 18px;
    font-weight: 700;
    opacity: .6;
    padding-top: 14px;
    padding-left: 29px;
    margin-bottom: 23px;
}
h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-left: 29px;
    margin-top: 0;
    margin-bottom: 40px;
}
.menu-marathon-button {
    opacity: 0;
    font-weight: 700;
    font-size: 16px;
    color: #FBF138;
    text-transform: uppercase;
    padding: 20px 37px;
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    text-decoration: none;
    margin-left: 29px;
}
.type {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    background-color: #FBF138;
    padding: 12px 20px;
    margin-bottom: 0;
}
.menu-marathon {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.menu-marathon-item {
    flex: 0 0 auto;
    width: 32%;
    height: 49vw;
}
.menu-marathon-item:nth-child(1) {
    background-image: url(..//images/maraphon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu-marathon-item:nth-child(2) {
    background-image: url(..//images/vebinar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu-marathon-item:nth-child(3) {
    background-image: url(..//images/yoga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu-marathon-gradient {
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu-marathon-gradient:hover {
    background: linear-gradient(180deg, rgba(251, 241, 56, .6) 0%, rgba(253, 249, 182, 0) 100%);
    transition: .3s;
}
.menu-marathon-gradient:hover .menu-marathon-button {
    opacity: 1;
    transition: .3s;
}
#timetable {
    padding-top: 40px;
    margin-bottom: 160px;
}
.timetable-header {
    display: flex;
    justify-content: space-between;
}
.timetable-title {
    max-width: 296px;
    margin-bottom: 36px;
}
.timetable-header-date {
    font-weight: 700;
    font-size: 28px;
    padding-top: 18px;
}
.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 38px 74px 280px;
    gap: 20px;
}
.timetable-grid-item {
    border: 1px solid rgba(43, 53, 65, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18px;
    cursor: pointer;
}
.timetable-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.timetable-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.timetable-grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.timetable-grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.timetable-grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.timetable-grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.timetable-date {
    font-weight: 400;
    font-size: 18px;
    color: #010101;
    text-align: right;
    opacity: 0.7;
}
.timetable-content img {
    margin-bottom: 38px;
}
.timetable-grid-image-1 {
    width: 65px;
    height: 65px;
}
.timetable-grid-item:hover .timetable-grid-image-1 {
    margin-bottom: 10px;
}
.timetable-grid-image-2 {
    width: 42px;
    height: 85px;
}
.timetable-grid-item:hover .timetable-grid-image-2 {
    margin-bottom: 10px;
}
.timetable-grid-image-3 {
    width: 91px;
    height: 50px;
}
.timetable-grid-item:hover .timetable-grid-image-3 {
    margin-bottom: 10px;
}
.timetable-grid-image-4 {
    width: 67px;
    height: 107px;
}
.timetable-grid-image-5 {
    width: 65px;
    height: 61px;
}
.timetable-grid-item:hover .timetable-grid-image-5 {
    margin-bottom: 10px;
}
.timetable-grid-image-6 {
    width: 58px;
    height: 66px;
}
.timetable-grid-item:hover .timetable-grid-image-6 {
    margin-bottom: 10px;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
.timetable-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}
.timetable-text-hidden {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    transition: .5s
}
.timetable-grid-item:hover .timetable-text-hidden {
    margin-top: 10px;
    max-height: 200px;
    opacity: 1;
}
.active {
    border: none;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.7) 0%, rgba(253, 249, 182, 0.45) 100%);
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.subscribe-bg {
    width: 100%;
    height: 348px;
    background-color: #F3F3F3;
}
.subscribe {
    margin-bottom: 120px;
}
.form-box {
    max-width: 617px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 80px;
}
.form-header {
    position: relative;
    z-index: 1;
    text-align: center;
}
.form-header::before {
    content: '';
    position: absolute;
    background-color: #FBF138;
    width: 53px;
    height: 53px;
    border-radius: 50px;
    z-index: -1;
    left: -18px;
    top: -22px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.form-email {
    display: flex;
    gap: 20px;
    margin-left: 12px;
}
.input-email {
    display: block;
    width: 372px;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #fff;
}
.input-email::placeholder {
    color: rgba(43, 53, 65, .3);
  }
.input-email:focus {
    outline: none;
 }
.input-email:disabled {
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
 }
.input-email:invalid {
    border: 1px solid #AE0303;
 }
.form-button {
    font-weight: 700;
    font-size: 16px;
    padding: 23px 35px;
    color: #2B3541;
    text-align: center;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.form-button:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: .3s;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}
.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    padding-left: 38px;
    cursor: pointer;
}
.agreement-label {
    display: flex;
    gap: 1px;
    align-items: center;
    margin-top: 4px;
}
.agreement-label p,
.agreement-label a {
    font-weight: 400;
    font-size: 11px;
    opacity: .5;
}
.agreement-label a {
    margin-left: 3px;
    text-decoration: underline;
    color: #2B3541;
}
.agreement-label a:hover {
    opacity: 1;
}
.checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:12px;
    top:calc(50% - 12px);
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
.checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 17px;
    height: 17px;
    transition: all .2s ease;
    opacity: 1;
    left: 13px;
    top: calc(50% - 11px);
    background-color: #2B3541;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(..//images/svg/vector.svg);
}
.checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:12px;
    top:calc(50% - 12px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
}
.checkbox:not(:checked) + label::after{
    content:'';
    position: absolute;
    width: 17px;
    height: 17px;
    transition: all .2s ease;
    opacity: 0;
    left: 13px;
    top: calc(50% - 11px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(..//images/svg/vector.svg);
}
.radio:checked + label::before{
   border-radius: 100%;
}
#about {
    padding-top: 40px;
    margin-bottom: 150px;
}
.about-box {
    display: flex;
    margin-bottom: 80px;
}
.about-text {
    flex-basis: 50%;
}
.about-title {
    margin: 0;
}
.about-image {
    position: relative;
    flex-basis: 50%;
}
.about-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0.45) 100%);
    top: 0;
    left: 0;
}
.about-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    max-width: 483px;
    margin-top: 21px;
    margin-bottom: 58px;
}
.about-link {
    color: #2B3541;
    background-color: #FBF138;
    padding: 22px 55px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.about-link:hover {
    color: #FBF138;
    background-color: #2B3541;
    transition: .3s;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}
.about-advantages {
    display: flex;
    gap: 67px;
}
.about-item-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    opacity: .6;
    margin-top: 20px;
}
footer {
    background-color: #F3F3F3;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 7px;
}
.footer-item {
    display: flex;
    align-items: center;
}
.footer-logo {
    display: block;
    background-image: url(..//images/svg/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
}
.footer-logo:hover {
    transform: scale(1.3);
}
.footer-nav {
    display: flex;
    list-style-type: none;
    gap: 64px;
    padding-left: 72px;
}
.footer-nav a {
    color: #2B3541;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}
.footer-nav a:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #2B3541;;
}
.footer-mail {
    color: #2B3541;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding-right: 62px;
    position: relative;
    z-index: 1;
}
.footer-mail::before {
    content: '';
    position: absolute;
    background-color: #FBF138;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    z-index: -1;
    left: -15px;
    top: -12px;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.footer-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    opacity: .8;
}
.footer-rights {
    display: flex;
    justify-content: space-between;
}
.footer-rights p,
.footer-rights-right p {
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: .3;
}
.footer-right-right {
    display: flex;
    gap: 2px;
    align-items: center;
}
.footer-rights a {
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    color: #2B3541;
    opacity: .5;
}
.footer-rights a:hover {
    opacity: 1;
}

/* Modal */

.burger {
    width: 29px;
    height: 22px;
    background-image: url(..//images/svg/burger-1.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-position: contain;
    margin-left: 57px;
}
.modal {
    background-color: #F3F3F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
    transition: .5s;
}
.modal .header-logo {
    width: 78px;
    height: 24px;
    margin-bottom: 40px;
}
.burger-close {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(..//images/svg/close.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    top: 4px;
    right: 0;
    cursor: pointer;
}
.modal .header-nav {
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    margin-bottom: 40px;
    padding-left: 0;
}
.list-item {
    border-bottom: 1px solid rgba(43, 53, 65, .2);
    padding-bottom: 20px;
}
.modal .header-icons {
    position: absolute;
    bottom: -40px;
    right: 0;  
}

/* Responsive */

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }
    .banner-bg {
        max-width: 770px;
    }
    .banner-bg-img {
        width: 910px;
        height: 808px;
        right: -80px;
    }
}
@media (min-width: 1113px) {
    .burger {
        display: none;
    }
    .header-nav {
        display: visible;
    }
    .button-plus {
        display: none;
    }
}
@media (max-width: 1112px) {
    .burger {
        display: visible;
    }
    .header .header-nav {
        display: none;
    }
    .container {
        max-width: 748px;
    }
    .header {
        padding-top: 30px;
        margin-bottom: 27px;
    }
    .header-logo {
        width: 78px;
        height: 24px;
    }
    .icon-left,
    .icon-right {
        width: 26px;
        height: 26px;
    }
    .banner {
        margin-bottom: 60px;
    }
    .banner-box {
        padding-top: 26px;
    }
    h1 {
        font-size: 26px;
        max-width: 358px;
        margin-bottom: 40px;
    }
    .banner-subtitle {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .banner-info {
        margin-left: 0;
    }
    .banner-description {
        font-size: 16px;
        margin-bottom: 41px;
    }
    .banner-arrow-down {
        width: 40px;
        height: 40px;
        margin-top: 47px
    }
    .banner-bg {
        max-width: 360px;
        max-height: 429px;
        right: 0;
    }
    .banner-bg-img {
        width: 399px;
        height: 364px;
        right: 0;
        top: 26px;
    }
    h2 {
        font-size: 26px;
    }
    .menu-marathon {
      flex-wrap: wrap;
      gap: 10px;

    }
    .menu-marathon-item:nth-child(1) {
        width: 48%;
    }
    .menu-marathon-item:nth-child(2) {
        width: 48%;
    }
    .menu-marathon-item:nth-child(3) {
        background-image: url(..//images/yoga-2.png);
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .date {
        font-size: 12px;
        padding-top: 20px;
        padding-left: 27px;
        margin-bottom: 16px;
    }
    h3 {
        font-size: 16px;
    }
    .type {
        font-size: 12px;
        padding: 6px 15px;
        left: 0;
        right: auto;
    }
    .button-plus {
        display: visible;
        width: 30px;
        height: 30px;
        background-image: url(..//images/svg/add.svg);
        background-repeat: no-repeat;
        background-position: contain;
        border: none;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }
    #events {
        margin-bottom: 60px;
    }
    .timetable-header-date {
        font-size: 16px;
        opacity: .7;
    }
    .timetable-grid-item {
        padding-left: 23px;
    }
    .timetable-date {
        font-size: 16px;
    }
    h4 {
        font-size: 16px;
    }
    .timetable-content p {
        font-size: 12px;
    }
    .about-description {
        font-size: 16px;
    }
    .about-image {
        width: 372px;
        height: 227px;
    }
  
}

